<div class="modal-comment">
    <div class="title-modal">
        <span>Bình luận</span>
        <button hm-tap="closeThisDialog()">Đóng</button>
    </div>
    <div class="content-modal">
        <div class="item-comment">
            <div class="div-img" style="background: #d8dce6 url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c0.48.160.160/p160x160/10419377_842635429109477_559743086815951894_n.jpg?oh=9e9436ae56ed2ee9a664d8cf9cf117b3&oe=54FD5DE4&__gda__=1425903783_74c97054a6c427f29d23f83d61fd9744) no-repeat center;">
    
            </div>
            <div class="content-item-comment">
                <h5>Hoang van loi</h5>
                <p>Xin chao day la comment dau tien cua cac ban  bla bla bla bla bla blab al</p>
                <span>20 phút trước</span>
            </div>
    
        </div>
        
    </div>
    <div class="footer-modal">
        <div class="textarea-modal">
            <textarea rows="2" placeholder="Viết Bình luận..." ng-model="commentContent.content"></textarea>

        </div>
        <button hm-tap="cmtAction(commentContent)">Đăng</button>
    </div>
</div>
