<div class="modal-search">
    <div class="title-modal">
        Tìm kiếm <img src="./images/spinner.png" alt="" class="fa-spinner" ng-if="searchStart"/>

        <button hm-tap="closeThisDialog()">Đóng</button>
    </div>
    <div class="content-modal">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Tìm kiếm" ng-model="searchText">
            </label>
        </div>
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="data in dataSearch | filter:searchText">
                <label class="checkbox">
                    <input type="checkbox"
                           ng-model="searchQuery[data.model][data.value]"
                           ng-false-value="undefined"
                           ng-change="actionSearch()">
                    {{ data.caption }}
                    <span ng-if="stateSettings.LineColor.hasOwnProperty(data.model)" ng-repeat=" color in stateSettings.LineColor[data.model]">
                        
                        <em ng-if="color.Code.toLowerCase() == data.value.toLowerCase()" style="width:10px; height:2px;background:{{color.Color}}">&nbsp;</em>
                    
                    </span>

                </label>

            </li>


        </ul>
    </div>
</div>