<?xml version="1.0" encoding="UTF-8" ?>

<Application>
    <Menu>
        <Name>Tasks</Name>
        <NameEn>tasks</NameEn>
        <SettingFile>manage-tasks</SettingFile>
        <Url>danh-sach-cong-viec</Url>
        <Template>list</Template>
        <Icon>icon-xface-cv.png</Icon>
        <SubMenu>
            <Name>List Tasks</Name>
            <Template>list</Template>
            <SettingFile>manage-tasks</SettingFile>
            <Url>danh-sach-cong-viec</Url>
            <Icon>icon-xface-cv.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Chart Overview</Name>
            <State>app.tasksDiagram</State>
            <Url>bieu-do-tong-quan</Url>
            <Template>diagram</Template>
            
            <Icon>Untitled8.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
                <!-- <Deny>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Deny> -->
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>According Project</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-du-an</Url>
            <Template>diagram</Template>
            <Icon>image23.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>According Target</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-muc-tieu</Url>
            <Template>diagram</Template>
            <Icon>account_book-delay.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>According Status</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-trang-thai</Url>
            <Template>diagram</Template>
            <Icon>account_book-info.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <!-- <SubMenu>
            <Name>Theo trạng thái</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-trang-thai</Url>
            <Template>diagram</Template>
            <TemplateUrl>Templates/includes/manage-summary-task-diagram.html</TemplateUrl>
            <Icon>account_book-info.png</Icon>
        </SubMenu> -->
        <SubMenu>
            <Name>According HR</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-nhan-su</Url>
            <Template>diagram</Template>
            <Icon>account_book-vendor.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>According Category</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-danh-muc</Url>
            <Template>diagram</Template>
            <Icon>account_book-server.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>According Phase</Name>
            <State>app.tasksDiagram</State>
            <Url>theo-giai-doan</Url>
            <Template>diagram</Template>
            <Icon>account_book-new.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
    </Menu>
    <Menu>
        <Name>Contract</Name>
        <NameEn>contract</NameEn>
        <Template>list</Template>
        <SettingFile>manage-contract</SettingFile>
        <Url>danh-sach-hop-dong</Url>
        <Icon>image43.png</Icon>
        <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        <SubMenu>
            <Name>List Contracts</Name>
            <Template>list</Template>
            <SettingFile>manage-contract</SettingFile>
            <Url>danh-sach-hop-dong</Url>
            <Icon>image43.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Chart Overview</Name>
            <State>app.contractsDiagram</State>
            <Url>bieu-do-tong-quan-hop-dong</Url>
            <Template>diagram</Template>
            <Icon>Untitled8.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Value, payment status of contracts</Name>
            <State>app.contractsDiagram</State>
            <Url>gia-tri-tinh-trang-thanh-toan-hop-dong</Url>
            <Template>diagram</Template>
            <Icon>image42.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Total contract value of the units by year</Name>
            <State>app.contractsDiagram</State>
            <Url>tong-gia-tri-hop-dong-cua-cac-dv-theo-nam</Url>
            <Template>diagram</Template>
            <Icon>image45.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Number and total value of the contract by year</Name>
            <State>app.contractsDiagram</State>
            <Url>so-luong-va-tong-gia-tri-hop-dong-theo-nam</Url>
            <Template>diagram</Template>
            <Icon>image39.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Total value of the contract and payment status in units</Name>
            <State>app.contractsDiagram</State>
            <Url>tong-gia-tri-hop-dong-va-tinh-trang-thanh-toan-theo-dv</Url>
            <Template>diagram</Template>
            <Icon>image46.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Value of the contract and the payment period</Name>
            <State>app.contractsDiagram</State>
            <Url>gia-tri-hop-dong-va-cac-dot-thanh-toan</Url>
            <Template>diagram</Template>
            <Icon>image40.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Value of contracts and other costs</Name>
            <State>app.contractsDiagram</State>
            <Url>gia-tri-hop-dong-va-cac-loai-chi-phi-khac</Url>
            <Template>diagram</Template>
            <Icon>image41.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <!--<SubMenu>
            <Name>Giá trị hợp đồng và tình trạng thanh toán theo dòng sản phẩm</Name>
            <State>app.contractsDiagram</State>
            <Url>gia-tri-hop-dong-va-tinh-trang-thanh-toan-theo-dong-sp</Url>
            <Template>diagram</Template>
            <Icon>image47.png</Icon>
        </SubMenu>-->
    </Menu>

    <Menu>
        <Name>Projects</Name>
        <NameEn>projects</NameEn>
        <Url>danh-sach-du-an</Url>
        <SettingFile>manage-project</SettingFile>
        <Icon>image3.png</Icon>
        <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
        </Roles>    
        <SubMenu>
            <Name>List Projects</Name>
            <Url>danh-sach-du-an</Url>
            <SettingFile>manage-project</SettingFile>
            <Template>list</Template>
            <Icon>image3.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Chart Overview</Name>
            <State>app.projectsDiagram</State>
            <Url>bieu-do-tong-quan-du-an</Url>
            <Template>diagram</Template>
            <Icon>Untitled8.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Project status</Name>
            <State>app.projectsDiagram</State>
            <Url>tinh-trang-du-an</Url>
            <Template>diagram</Template>
            <Icon>Untitled-2.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <!--<SubMenu>
            <Name>Tình trạng công việc</Name>
            <State>app.projectsDiagram</State>
            <Url>tinh-trang-cong-viec</Url>
            <Template>diagram</Template>
            <TemplateUrl>Templates/includes/manage-project-diagram.html</TemplateUrl>
            <Icon>Untitled-1.fw.png</Icon>
        </SubMenu>-->
        <SubMenu>
            <Name>Statistics by status</Name>
            <State>app.projectsDiagram</State>
            <Url>thong-ke-theo-trang-thai</Url>
            <Template>diagram</Template>
            <Icon>Untitled-3.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Number of jobs by status</Name>
            <State>app.projectsDiagram</State>
            <Url>so-luong-cong-viec-theo-trang-thai</Url>
            <Template>diagram</Template>
            <Icon>Untitled-4.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Number of projects per unit</Name>
            <State>app.projectsDiagram</State>
            <Url>so-luong-du-an-theo-don-vi</Url>
            <Template>diagram</Template>
            <Icon>Untitled-2.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>

            <Name>Number of jobs per unit</Name>
            <State>app.projectsDiagram</State>
            <Url>so-luong-cong-viec-theo-don-vi</Url>
            <Template>diagram</Template>
            <Icon>Untitled6.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
    </Menu>
    <Menu>
        <Name>Contacts</Name>
        <NameEn>contact</NameEn>
        <SettingFile>manage-contact</SettingFile>
        <Url>danh-sach-lien-he</Url>
        <Template>list</Template>
        <Icon>dsttlh.png</Icon>
        <Roles>
            <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
            <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
            <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
            <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
            <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
        </Roles>    
        <SubMenu>
            <Name>List Contacts</Name>
            <SettingFile>manage-contact</SettingFile>
            <Url>danh-sach-lien-he</Url>
            <Template>list</Template>
            <Icon>dsttlh.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>HR</Name>
            <SettingFile>manage-contact-employee</SettingFile>
            <Url>danh-sach-lien-he-nhan-su</Url>
            <Template>list</Template>
            <Icon>ttns.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Customers</Name>
            <Icon>ttkh.png</Icon>
            <SettingFile>manage-contact-customer</SettingFile>
            <Url>danh-sach-lien-he-khach-hang</Url>
            <Template>list</Template>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Partners</Name>
            <Icon>ttdt.png</Icon>
            <SettingFile>manage-contact-partner</SettingFile>
            <Url>danh-sach-lien-he-doi-tac</Url>
            <Template>list</Template>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Providers</Name>
            <Icon>ncc.png</Icon>
            <SettingFile>manage-contact-provider</SettingFile>
            <Url>danh-sach-lien-he-nha-cung-cap</Url>
            <Template>list</Template>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Directory</Name>
            <Icon>db.png</Icon>
            <SettingFile>manage-contact-address</SettingFile>
            <Url>danh-sach-lien-he-danh-ba</Url>
            <Template>list</Template>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
    </Menu>
    <Menu>
        <Name>Products</Name>
        <NameEn>products</NameEn>
        <Url>danh-sach-san-pham</Url>
        <SettingFile>manage-product</SettingFile>
        <Template>list</Template>
        <Icon>image49.png</Icon>
        <Roles>
            <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
            <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
            <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
            <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
            <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
        </Roles>
        <SubMenu>
            <Name>List Product</Name>
            <Url>danh-sach-san-pham</Url>
            <SettingFile>manage-product</SettingFile>
            <Template>list</Template>
            <Icon>image49.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Contract value by product</Name>
            <State>app.productsDiagram</State>
            <Url>tong-gia-tri-hop-dong-theo-loai-san-pham</Url>
            <Template>diagram</Template>
            <Icon>Untitled16.fw.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
        <SubMenu>
            <Name>Contract value per unit</Name>
            <State>app.productsDiagram</State>
            <Url>tong-gia-tri-hop-dong-theo-dai-ly</Url>
            <Template>diagram</Template>
            <Icon>Untitled181.png</Icon>
            <Roles>
                <Allow>2FC8FAE8-BF43-4FDB-8DAF-58B73BF2FF36</Allow>
                <Allow>93DD70FA-290C-4C0C-A9EB-C723C85BACC0</Allow>
                <Allow>4D7874B2-9BD2-4394-965F-30AAADCA6E5C</Allow>
                <Allow>27D39923-CC1D-49BD-AC60-53FF8AA096D3</Allow>
                <Allow>5F4CE741-7C96-418A-869F-99BBA6770787</Allow>
            </Roles>
        </SubMenu>
    </Menu>

</Application>
	
