<div >
    <div class="charts" ng-if="diagramReady">
        <form ng-show="showReportTableDetail" class="form-inline " role="form">

            <div class="search-form">
                <button class="waves-effect waves-light btn blue" hm-tap="{}" ns-popover
                        ns-popover-template="popoverDiagrams3"
                        ns-popover-trigger="click"
                        ns-popover-placement="bottom|left">Options
                </button>

                <button class="waves-effect waves-light btn blue" type="button" ng-click="onSearch()">View details</button>

            </div>
        </form>

        <div ng-show="!reportNull" class="">
            <highchart config="chartConfig" class=""></highchart>
            <div class="table-chart table-chart-group">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Đơn vị</th>
                        <th>Tổng giá trị</th>
                    </tr>
                    </thead>
                    <tbody><!--ng-repeat-start="item in detailTable"-->
                    <tr ng-repeat-start="(key, years) in detailTable">
                    </tr>
                    <tr ng-repeat-start="(ky, year) in years">
                        <td></td>
                        <td colspan="3" class="text-center bold">Năm {{ky}}</td>
                    </tr>


                    <tr ng-repeat-start="item in year">
                        <td>{{$index + 1}}</td>
                        <td class="text-left">{{item.type}}</td>
                        <td class="text-right">{{sumValue[item.key] | formatmetric}}</td>
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end></tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div ng-if="!diagramReady">

        <div ng-show="reportNull" class="empty-data">
            <i class="fa fa-bar-chart-o"></i>
            <span class="glyphicon-class">Không có dữ liệu thống kê</span>
        </div>

        <div ng-show="!reportNull" class="empty-data">
            <i class="fa fa-bar-chart-o"></i>
            <img src="./images/spinner.png" alt="" class="fa-spinner"/> Loading data..
        </div>


    </div>
</div>

<script type="text/ng-template" id="popoverDiagrams3">
    <div class="title-popover">
        Tìm nhanh <img ng-src="./images/close.png" hm-tap="hidePopover()">
    </div>
    <ul class="ul-popover diagram-search">
        <li class="item item-checkbox" ng-repeat="item in searchConfigSelect" ng-click="openModalSearch(item.model)">
            {{item.caption}}

        </li>
        <li>
            <label class="item item-input item-select">
                <div class="input-label">
                    Từ ngày
                </div>
                <input type="date" ng-model="date.startDate">
            </label>
        </li>
        <li>

            <label class="item item-input item-select">
                <div class="input-label">
                    Đến ngày
                </div>
                <input type="date" ng-model="date.endDate">
            </label>

        </li>
    </ul>
</script>